/* ===========================================
   LAYOUT - HOME STYLES
   =========================================== */

/* Remove grid-template-rows and areas to focus on flex layout */
/* Using flexbox in the html directly */

/* Only small overrides if necessary */
:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Scroll adjustments */
main::-webkit-scrollbar {
  width: 6px;
}

main::-webkit-scrollbar-thumb {
  background-color: var(--color-base-300);
  border-radius: 9999px;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

@media (max-width: 768px) {
  /* Mobile adjustments */
  aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    z-index: 50;
    transition: transform 0.3s ease-in-out;
  }

  aside.open {
    transform: translateX(0);
  }
}
