<sga-header-detail [config]="headerConfig()" [actions]="headerActions()" (refresh)="onRefresh()" />

<div class="p-6">
  <div class="grid grid-cols-1 gap-6 animate-in fade-in slide-in-from-bottom-4 duration-500">
    @if (loading() && !data().length) {
    <sga-institution-skeleton />
    } @else {
    @for (inst of data(); track inst.id) {
    <sga-institution-card [institution]="inst" (edit)="openForm(undefined, inst)"
      (delete)="deleteInstitution(inst.id)" />
    } @empty {
    <div class="grid grid-col-span-full">
      <z-empty zIcon="building" zTitle="Sin instituciones registradas"
        zDescription="Aún no tienes ninguna institución. Crea la primera para comenzar a gestionar tu sistema educativo.">
      </z-empty>
    </div>
    }
    }
  </div>
</div>