<div class="relative inline-block text-left">
  <!-- Trigger -->
  <div (click)="toggle()" (keydown.enter)="toggle()" tabindex="0" role="button">
    <ng-content select="[sga-dropdown-trigger]"></ng-content>
  </div>

  <!-- Dropdown Menu Content -->
  @if (showOpen()) {
    <div
      class="absolute right-0 z-50 mt-2 min-w-[8rem] overflow-hidden rounded-md border border-base-200 bg-base-100 p-1 text-base-content shadow-md animate-in fade-in zoom-in-95 data-[side=bottom]:slide-in-from-top-2"
    >
      <div role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        @for (item of items(); track item.label) {
          @if (item.separator) {
            <div class="-mx-1 my-1 h-px bg-base-200"></div>
          } @else {
            <button
              (click)="handleItemClick(item)"
              [disabled]="item.disabled"
              class="relative flex w-full cursor-pointer select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors hover:bg-base-200 focus:bg-base-200 disabled:pointer-events-none disabled:opacity-50"
              role="menuitem"
            >
              @if (item.icon) {
                <i [class]="item.icon + ' mr-2 h-4 w-4'"></i>
              }
              <span class="flex-1 text-left">{{ item.label }}</span>
            </button>
          }
        }
      </div>
    </div>
  }
</div>
