<section class="relative space-y-4">
  <header class="relative flex justify-between space-y-1.5 bg-base-200/20 items-center">
    <div class="flex items-center gap-2">
      <i class="fas fa-info-circle w-4 h-4 text-base-content/60"></i>
      <span class="flex flex-col gap-1">
        <h2 class="text-2xl font-semibold leading-none text-base-content tracking-tight">
          {{ title }}
        </h2>
        <p class="text-sm text-base-content/60">Define los detalles básicos del rol.</p>
      </span>
    </div>

    <button type="button" z-button zType="ghost" zSize="sm" (click)="close()">
      <i class="fas fa-times"></i>
    </button>
  </header>

  <div class="overflow-y-auto max-h-[70vh]">
    <form [formGroup]="form" (ngSubmit)="submit()" id="role-form" class="space-y-6">
      <div class="space-y-2">
        <label
          for="role-name"
          class="text-xs font-bold uppercase tracking-wider text-base-content/50 ml-1"
          >Nombre del Rol</label
        >
        <input z-input w-full
          id="role-name"
          formControlName="name"
          placeholder="Ej: Administrador de Académico"
         />
      </div>

      <div class="space-y-2">
        <label
          for="role-description"
          class="text-xs font-bold uppercase tracking-wider text-base-content/50 ml-1"
          >Descripción</label
        >
        <z-input-group>
          <textarea
            id="role-description"
            z-input
            formControlName="description"
            placeholder="Describe las responsabilidades de este rol..."
            rows="4"
          ></textarea>
        </z-input-group>
      </div>

      <div
        class="flex items-center justify-between p-4 bg-base-200/30 rounded-xl border border-base-200"
      >
        <div>
          <span class="block font-bold text-sm">Estado del Rol</span>
          <span class="text-xs text-base-content/50"
            >Define si el rol puede ser asignado a usuarios.</span
          >
        </div>
        <z-switch formControlName="isActive"></z-switch>
      </div>
    </form>
  </div>

  <div
    class="flex items-center gap-2 justify-end pt-6 border-t border-base-200 bg-base-200/50 sm:space-x-2"
  >
    <button type="button" z-button zType="outline" (click)="close()">Cancelar</button>
    <button type="submit" z-button zColor="primary" form="role-form" [disabled]="form.invalid">
      <i class="fas fa-save mr-2 h-4 w-4"></i>
      {{ current ? 'Actualizar' : 'Crear' }} Rol
    </button>
  </div>
</section>
