.menu-anim-enter {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 150ms ease-out,
    transform 150ms ease-out;
}

.menu-anim-leave {
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 120ms ease-in,
    transform 120ms ease-in;
  pointer-events: none;
}
