@import './forms/form.css';
@import './forms/error-form.css';
@import './tailwind/_core.css';
@import './core/dialog.css';
@import './core/animation.css';
@import './core/animation-routing.css';
@import './animations/menu-anim.css';
@import './animations/dropdown.css';
@import './animations/tooltip.css';
